<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
</head>
<body>

	<section class="hero " style="background-color: #D6A184">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Todo List
                </h1>
            </div>
        </div>
    </section>

<!-- {% for i in todo_data %}
<p> {{ i }} </p>
{% endfor %} -->

    <section class="section">
    	<form action="todo/addTodo/" method="post">{% csrf_token %}
<!-- 		    <label for="your_name">Your name: </label> -->
		    <input type="text" name="todo_text">
		    <input type="submit" value="Add">
		</form>
    </section>


	<section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    {% for todo in todo_data %}
                    <div class="box">
                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{ todo.todo_text }}</span>
                                    </p>
                                </div>
                            </div>
                            <div class="media-right">
                                <a href="{% url 'deleteTodo' todo.id  %}">
                                    <button class="delete"></button>
                                </a>
                            </div>
                        </article>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>


</body>
</html>
